<h1>Rails#record</h1>
<p>Find me in app/views/rails/record.html.erb</p>
<%= link_to "地図を見る", rails_show_path, method: :get %>
<%= link_to "help", static_pages_help_path, method: :get %>
<p>
<div class="choice clearfix" id="allarea">
    <ul>
    <% for a in @area %>
        <li class="area"><%= a[:name] %></li>
    <% end %>
    </ul>
</div>

<div class="choice clearfix" id="allcompany" style="display: none">
    <ul>
    </ul>
</div>