<h1>Rails#record</h1>
<p>Find me in app/views/rails/record.html.erb</p>
<div class="choice clearfix" id="allarea">
<ul>
<% for a in @area %>
    <li class="area"><%= a.name %></li>
<% end %>
</ul>
</div>

<div class="choice clearfix" id="allcompany">
    <h3 class="choice-title">鉄道会社選択</h3>
	<ul class="scroll" id="companyList">
	<% for c in @company %>
        <li class="company"><%= c.name %></li>
    <% end %>
	</ul>
</div>

<div class="choice clearfix" id="allline">
    <h3 class="choice-title">路線選択</h3>
	<ul class="scroll" id="lineList">
	<% for l in @line %>
        <li class="line"><%= l.name %></li>
    <% end %>    
	</ul>
</div>
